.edit-order-body {
  height: 100vh;

  width: 100vw;
}
.back-to-manage-order {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 10px;
  margin: 20px;
  margin-top: 40px;
}
.back-to-manage-order:hover {
  background-color: rgb(10, 87, 10);
  color: white;
  cursor: pointer;
}
.cancellation-status {
  padding: 4px;
  border-radius: 10px;
  color: white;
}
.delete-order {
  background-color: red;
  color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  top: 100px;
}
.delete-order:hover {
  background-color: white;
  color: red;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  top: 100px;
  border: 1px solid red;
  cursor: pointer;
}
.edit-order-body .user-detail {
  width: 400px;
  height: auto;
  float: left;

  padding: 20px;
  box-shadow: 5px 5px 5px 5px rgb(192, 191, 191);
  border-radius: 10px;
  margin: 10px;
}
.edit-order-body .order-status {
  height: 300px;
  float: left;
  width: 500px;
  box-shadow: 5px 5px 5px 5px rgb(179, 179, 179);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}
.edit-order-body .order-status span {
  background-color: green;
  color: white;
  padding: 3px;
  border-radius: 6px;
}
.edit-order-body .order-status .status-control {
  background-color: rgb(219, 12, 109);
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.edit-order-body .order-status .status-control span {
  margin: 10px;
}
.edit-order-body .order-status .status-control span:hover {
  margin: 10px;
  color: green;
  background-color: white;
  cursor: pointer;
}
.display-products {
  width: 36vw;
  /* background-color: yellow; */
  position: relative;
  height: 1400px;
  /* top: 400px; */
  float: none;
}
.display-products .order-list {
  background-color: yellow;
}
.display-products .order-list .details {
  display: flex;
  margin: auto;
}
.display-products .order-list .details .name {
  margin: auto;
}
.display-products .order-list .details .price {
  margin: auto;
}
.display-products .order-list .details .stock {
  margin: auto;
}
