.order-section {
  height: 100vh;
}
.order-card {
  display: flex;
  height: 98px;
  width: 888px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 7px 7px #dbdbdb;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  padding-top: 32px;
}
.order-card .col .cancel-order {
  background-color: red;
}

.order-card .col span {
  background-color: green;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border-radius: 10px;
}
/* cancel order popup design  */
.pop-up {
  height: 300px;
  width: 500px;
  box-shadow: 5px 5px 5px 3px rgb(184, 184, 184);
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
}
.pop-up .question {
  font-size: 30px;
}
.pop-up .options {
  position: relative;
  top: 60px;
  display: flex;
}
.pop-up .options .yes {
  font-size: 30px;
  width: 90px;
  height: 40px;
  background-color: green;
  margin: auto;
  color: white;
  border-radius: 10px;
}
.pop-up .options .no {
  font-size: 30px;
  width: 90px;
  height: 40px;
  background-color: rgb(134, 9, 9);
  margin: auto;
  color: white;
  border-radius: 10px;
}
.pop-up .options .yes:hover {
  font-size: 30px;
  width: 90px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border: 1px solid green;
  margin: auto;
  color: green;
  border-radius: 10px;
}
.pop-up .options .no:hover {
  font-size: 30px;
  width: 90px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  border: 1px solid rgb(126, 8, 77);
  color: rgb(255, 4, 4);
  border-radius: 10px;
}

/* single order products  */
.single-order-products {
  height: 100vh;
  width: auto;
  margin: auto;
}
.single-order-products .card {
  height: 100px;
  width: 340px;
  padding: 10px;
  text-align: center;
  float: left;
  margin: 13px;
  margin-top: 32px;
  box-shadow: 0px 3px 3px 3px #bcbcbc;
}
.single-order-products .card .name {
  font-size: 24px;
}
.single-order-products .card .price {
}
.single-order-products .card .count {
  font-size: 12px;
  background-color: #0a6c8d;
  width: 54px;
  border-radius: 10px;
  color: white;
}

@media (max-width: 420px) {
  .order-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .order-card {
    display: flex;
    flex-direction: column;
    height: 163px;
    width: 90vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 7px 7px #dbdbdb;
    margin: auto;
    border-radius: 6px;
    padding: 10px;
    padding-top: 16px;
    text-align: center;
    margin-top: -13px;
  }
  .order-card .col {
  }
  .order-card .col span {
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-radius: 10px;
  }

  /* single order products  */
  .single-order-products {
    height: 100vh;
    width: auto;
    margin: auto;
  }
  .single-order-products .card {
    height: 100px;
    width: 340px;
    padding: 10px;
    text-align: center;
    float: left;
    margin: 13px;
    margin-top: 32px;
    box-shadow: 0px 3px 3px 3px #bcbcbc;
  }
  .single-order-products .card .name {
    font-size: 24px;
  }
  .single-order-products .card .price {
  }
  .single-order-products .card .count {
    font-size: 12px;
    background-color: #0a6c8d;
    width: 54px;
    border-radius: 10px;
    color: white;
  }
}
