
/* css for manage order component............... */
.manage-orders{
    margin: 0px;
    padding: 0px;
    background-color: rgb(120, 223, 128);
    height: 100vh;
    width: 100%;
}
.manage-orders-head{
    width: 100%;
    height: 10vh;
    background-color: green;
    position: -webkit-sticky;
    top: 0px;
    color: rgb(255, 251, 0);
    text-align: center;
    padding-top: 5px;
}
.manage-orders-head .back-button{
    position: absolute;
    left: 10px;
    border: white 2px solid;
}

.manage-orders-head .back-button:hover{
    background-color: teal;
    color: white;
}

/* ..........Edit-Order page here--------------------------------------- */
.edit-order-page{
    height: 100vh;
    width: 90vw;
    margin: auto;
    background-color: beige;
}
.edit-order-body{
    width: 90vw;
    margin: auto;
}
.edit-order-address{
    background-color: rgb(226, 172, 102);
    height: auto;
    text-align:center;
}
.edit-ordre-product-details{
    background-color: white;
    border: black 1px solid;
    border-radius: 7px;
    text-align: center;
    display: flex;
}
.edit-ordre-product-details .box{
    padding: 10px;
    background-color: turquoise;
    margin: 10px;
    border: black 2px solid;
    
    border-radius: 7px;
    flex: auto;
}
@media (max-width:600px){
    .edit-ordre-product-details{
        flex-direction: column;
    }
}
/* ..........Admin home styles are here------------------------- */
.admin-home{
    display: flex;
    width: 80vw;
}
.admin-home .admin-home-right{
    flex: auto;
    margin: auto;
}
.admin-home .admin-home-left{
    flex: auto;
    margin: auto;
}
@media (max-width:700px){
    .admin-home{
        display: flex;
        width: 90vw;
        flex-direction: column;
        margin: auto;
        padding: 3px;
        
    }
}